
/*Code du bandeau jaune*/
html, body {
top: 0;
margin: auto;
padding: 0;
background-color: #e6e6e6;
}

div#bandeau {
height: 100%
width:100px;
height:270px;
background-color: #ffcc00;
padding-top: 5px;
margin-left: 0px;
}

.a {
text-decoration: none;
color: black;
}
.a:link{
color:#000000;
text-decoration: none;
}

.a:visited {
color: #000000;
}

.a:hover{
color:#006600;
}


/*Bar de recherche qui est dans le bandeau*/
#bar {
position:relative; width:1040px; height:100%
}



/*Font du titre du site (Foret Bleue)*/
h1 { font-family: "Mr Dafoe"; font-size: 90px; font-style: normal;
font-variant: normal; font-weight: 400; line-height: 0px; }



/*Font de la description du site (Boutique en ligne) et de Compte et Authentification*/
h2 {
    font-family: 'Julius Sans One';font-size: 22px;
}



/*Font de la partie authentification (user name, password...)*/
h3 {
font-family: 'Julius Sans One';font-size: 16px;
}



/*Font des prénom*/
h4 {
font-family: 'Julius Sans One';font-size: 14px;
}




/*Code du rectangle jaune de l authentification*/
div#authentification {
background-color: #ffcc00;
position: absolute;
  top: 350px;
  right: 34%;
  width: 550px;
}



/*Code du rectangle jaune du panier*/
div#panier {
background-color: #ffcc00;
position: absolute;
  top: 350px;
  right: 34%;
  width: 550px;
}




/*Position et taille des icons utilisateur et panier*/
#icon {
position: relative;
  left: 360px;
  bottom: 20px;
}




/*Bordure jaune ou il y a les prénom*/
div#IsaTim {
  position: absolute;
  top: 100%;
  right: 0;
  width: 160px;
  height: 80px;
  border: 3px solid #ffcc00;
}
